h1 {
  padding-left: 10%;
  padding-top: 5%;
  color: rgb(236, 186, 92);
  text-shadow: 1px 3px  rgb(221, 55, 25);
}

button {
  padding-left: 6%;
  padding-right: 6%;
  margin-left: 20%;
} 

h4 {
  color: antiquewhite;
  padding-left: 10%;
  padding-top: 5%;
}
.container-fluid {
   background-image: url(https://i.ebayimg.com/images/g/QT4AAOSwu3dbsIB7/s-l300.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

#c {
  padding-top: 5%;
  padding-left: 10%;
  color: rgb(238, 212, 190);
}
